<ul class="nav flex-column navbarstyle">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mis trabajos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mi experiencia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mi formación académica</a>
      </li>
  </ul>
