<h1>Universidad Ejemplo</h1>
<hr>

<div class="contenedorFormulario">
    <h2>Preguntas/Quejas de alumnos</h2>

<form [formGroup]="formularioContacto" (ngSubmit)="enviarContacto()">
    <label>Nombre: </label>
    <input type="text" formControlName="nombre">
    <p *ngIf="formularioContacto.get('nombre')?.errors?.['required']">¡Este campo es obligatorio!</p>
    <br>

    <label>Correo: </label>
    <input type="text" formControlName="email">
    <p *ngIf="formularioContacto.get('email')?.errors?.['email']">¡Este campo debe tener un formato de correo!</p>
    <br>

    <label>Curso: </label>
    <input type="text" formControlName="curso">
    <p *ngIf="formularioContacto.get('curso')?.errors?.['required']">¡Este campo es obligatorio!</p>
    <br>

    <label>Mensaje: </label>
    <input type="text" formControlName="mensaje" placeholder="Escriba aquí sus inquietudes">
    <br>

    <button type="submit" [disabled]="!formularioContacto.valid">Enviar</button>
</form>
</div>